.growing-hr {
  width: 0;
  height: 2px;
  background-color: #9b9595; /* Change color as needed */
  border: none;
  margin: 20px 0;
  transition: width 0.3s ease-out; /* Faster transition for smoother scrolling */
}
