@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Helvetica Neue Light", "Helvetica Light", "Helvetica",
    sans-serif;
  line-height: 1.5;
  font-weight: 300; /* Light weight */
}
